<header class="bg-zinc-900 flex flex-col md:flex-row p-10 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
    <p class="my-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum dolore fugiat iste ad, quia officia. Odio, fugit obcaecati incidunt ea quis repellendus vel quisquam distinctio. Maxime quas porro ex!
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
      Start now
    </button>
  </div>

  <img src="images/fingerprint.svg" class="w-80" />
</header>
