---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolores, aspernatur ratione qui autem dolorem, facere dolore expedita fugiat assumenda et tempore eius dicta non ut consequuntur veritatis iure eum laboriosam nobis! A fuga tenetur sunt ex quia quaerat libero, esse unde consequuntur repellendus molestiae obcaecati atque ipsa quod, omnis sint quidem, consectetur cum dolorum quis eaque? Quasi perferendis, minus pariatur aliquid possimus a doloremque dolorum? Soluta quae dolore culpa. Explicabo laborum veniam, vero veritatis corporis ad aliquam temporibus minima aut consequuntur illo pariatur omnis dolor vel aperiam ducimus! Cum distinctio magnam aperiam cupiditate dolorum impedit ut, non excepturi porro.</p>
</Layout>

